#plivo {
    display: table;
    width: 100%;
    max-width: 240px;
    background: #f9f9fb;
    border: 1px #d3d7dd solid;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 111111;
}

.plivo-heading {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}
.plivo-title {
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}
.plivo-login,
.plivo-logout {
    float: right;
}
.plivo-login button,
.plivo-logout button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.plivo-info {
    margin-top: 5px;
}

.plivo-call {
    clear: both;
}

.plivo-incoming > * {
    display: inline-block;
    vertical-align: middle;
}
.plivo-incoming button + button {
    margin-left: 5px;
}
#plivo-call-from {
    margin-right: 10px;
}
